body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  padding: 10px 10px 0px 10px;
  background-color: #dcd394;
}
.movie-filter{
  padding: 10px 0px;
  background-color: #e8c86b;
}
.movie-list{
  padding: 10px;
  background-color: #f9f8f6;
  margin: 0px;
  border: 26px solid #FFF;
}
.rounded-circle {
  border-radius: 50%!important;
  border: 10px solid #e8c86b;
}
.movie-list .title{
  margin: 1rem 0px;
  color: #ecb30c;
  font-weight: 500;
}
.movie-list .year{
  margin: 1rem 0px;
  font-size: 13px;
}
.left-side{
  text-align: right;
}
.right-side{
 background-color: #f9f8f6;
 text-align: left;
 padding:10px;
}
.right-side p{
  font-size: 15px;
}
.right-side p.title{
  color: #ecb30c;
  font-weight: 900;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}